targetScope = 'subscription'

// If an environment is set up (dev, test, prod...), it is used in the application name
param environment string = 'dev'
param applicationName string = '{{applicationName}}'
param location string = '{{region}}'
var instanceNumber = '001'

var defaultTags = {
  'environment': environment
  'application': applicationName
  'deploymentTool': 'bicep.nubesgen'
}

resource rg 'Microsoft.Resources/resourceGroups@2021-04-01' = {
  name: 'rg-${applicationName}-${instanceNumber}'
  location: location
  tags: defaultTags
}

{{#addonApplicationInsights}}
module instrumentation 'modules/application-insights/app-insights.bicep' = {
  name: 'instrumentation'
  scope: resourceGroup(rg.name)
  params: {
    location: location
    applicationName: applicationName
    environment: environment
    instanceNumber: instanceNumber
    resourceTags: defaultTags
  }
}
{{/addonApplicationInsights}}
{{#addonStorageBlob}}
module storage 'modules/storage-blob/storage.bicep' = {
  name: 'storage'
  scope: resourceGroup(rg.name)
  params: {
    location: location
    applicationName: applicationName
    environment: environment
    resourceTags: defaultTags
    instanceNumber: instanceNumber
  }
}
{{/addonStorageBlob}}

{{^databaseTypeNone}}
{{#databaseTypeSqlServer}}
module database 'modules/sql-server/sql-azure.bicep' = {
  name: 'sqlDb'
  scope: resourceGroup(rg.name)
  params: {
    location: location
    applicationName: applicationName
    environment: environment
    tags: defaultTags
    instanceNumber: instanceNumber
  }
}
{{/databaseTypeSqlServer}}
{{/databaseTypeNone}}

{{#applicationTypeAppService}}
module webApp 'modules/app-service/app-service.bicep' = {
  name: 'webApp'
  scope: resourceGroup(rg.name)
  params: {
    location: location
    applicationName: applicationName
    environment: environment
    resourceTags: defaultTags
    instanceNumber: instanceNumber
    environmentVariables: [ 
      { 
        name: 'DEPLOYED_WITH'
        value: 'nubesgen'
      }
{{#addonApplicationInsights}}
      {
        name: 'APPINSIGHTS_INSTRUMENTATIONKEY'
        value: instrumentation.outputs.appInsightsInstrumentationKey
      }

{{/addonApplicationInsights}}      
      {{#addonStorageBlob}}
      {
        name: 'azure_storage_account_name'
        value: blobStorage.outputs.storageAccountName
      }
      {
        name: 'azure_storage_account_key'
        value: blobStorage.outputs.storageKey
      }
      {
        name: 'azure_storage_connectionstring'
        value: 'DefaultEndpointsProtocol=https;AccountName=${blobStorage.outputs.storageAccountName};EndpointSuffix=${az.environment().suffixes.storage};AccountKey=${blobStorage.outputs.storageKey}'
      }
      {{/addonStorageBlob}}
{{^databaseTypeNone}}
{{#runtimeQuarkus}}
   {{#databaseTypeSqlServer}}
      {
        name: 'QUARKUS_DATASOURCE_JDBC_URL'
        value: 'jdbc:sqlserver://${database.outputs.db_url}'
      }
    {{/databaseTypeSqlServer}}
    {{#databaseTypeMysql}}
      {
        name: 'QUARKUS_DATASOURCE_JDBC_URL'
        value: 'jdbc:mysql://${database.outputs.db_url}?useUnicode=true&characterEncoding=utf8&useSSL=true&useLegacyDatetimeCode=false&serverTimezone=UTC'
      }
    {{/databaseTypeMysql}}
    {{#databaseTypePostgresql}}
      {
        name: 'QUARKUS_DATASOURCE_JDBC_URL'
        value: 'jdbc:postgresql://${database.outputs.db_url}'
      }
    {{/databaseTypePostgresql}} 
    {
        name: 'QUARKUS_DATASOURCE_USERNAME'
        value: database.outputs.db_username
    }
    {
        name: 'QUARKUS_DATASOURCE_PASSWORD'
        value: database.outputs.db_password
    }
{{/runtimeQuarkus}}
{{#runtimeSpring}}
{{#databaseTypeSqlServer}}
      {
        name: 'SPRING_DATASOURCE_URL'
        value: 'jdbc:sqlserver://${database.outputs.db_url}'
      }
    {{/databaseTypeSqlServer}}
    {{#databaseTypeMysql}}
      {
        name: 'SPRING_DATASOURCE_URL'
        value: 'jdbc:mysql://${database.outputs.db_url}?useUnicode=true&characterEncoding=utf8&useSSL=true&useLegacyDatetimeCode=false&serverTimezone=UTC'
      }
    {{/databaseTypeMysql}}
    {{#databaseTypePostgresql}}
      {
        name: 'SPRING_DATASOURCE_URL'
        value: 'jdbc:postgresql://${database.outputs.db_url}'
      }
    {{/databaseTypePostgresql}} 
    {
        name: 'SPRING_DATASOURCE_USERNAME'
        value: database.outputs.db_username
    }
    {
        name: 'SPRING_DATASOURCE_PASSWORD'
        value: database.outputs.db_password
    }
{{/runtimeSpring}}
{{#runtimeDefault}}
      {
        name: 'DATABASE_URL'
        value: database.outputs.db_url
      }
      {
        name: 'DATABASE_USERNAME'
        value: database.outputs.db_username
      }
      {
        name: 'DATABASE_PASSWORD'
        value: database.outputs.db_password
      }
{{/runtimeDefault}}
{{/databaseTypeNone}}         
    ]
  }
}
{{/applicationTypeAppService}}
