variable "resource_group" {
  description = "The resource group"
  default = "{{resourceGroup}}"
}

variable "application_name" {
  description = "The name of your application"
  default     = "{{applicationName}}"
}

variable "location" {
  description = "The Azure location where all resources in this example should be created"
  default     = "{{location}}"
}
