variable "resource_group" {
  description = "The resource group"
  default = "jhipster"
}

variable "application_name" {
  description = "The name of your JHipster application"
  default     = "jhipsterSampleApplication"
}

variable "location" {
  description = "The Azure location where all resources in this example should be created"
  default     = "westeurope"
}

variable "my_sql_master_password" {
  description = "MySql master password"
  default = "mlkjgdsqfgoixwcDSFQfdbfidvoc465hfdqsmhngredqfmgnedvfcx"
}

