terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = ">= 2.56"
    }
  }
{{#gitops}}
  backend "azurerm" {}
{{/gitops}}
}

provider "azurerm" {
  features {}
}

locals {
  // If an environment is set up (dev, test, prod...), it is used in the application name
  environment      = var.environment == "" ? "dev" : var.environment
  application_name = var.environment == "" ? var.application_name : "${var.application_name}-${local.environment}"
  resource_group   = "rg-${local.application_name}-001"
}

resource "azurerm_resource_group" "main" {
  name     = local.resource_group
  location = var.location

  tags = {
    "terraform"   = "true"
    "environment" = local.environment
  }
}

module "application" {
{{#applicationTypeAppService}}
  source            = "./modules/app-service"
{{/applicationTypeAppService}}
{{#applicationTypeFunction}}
  source            = "./modules/function"
{{/applicationTypeFunction}}
  resource_group    = azurerm_resource_group.main.name
  application_name  = local.application_name
  environment       = local.environment
  location          = var.location
{{^databaseTypeNone}}

  database_url      = module.database.database_url
  database_username = module.database.database_username
  database_password = module.database.database_password
{{/databaseTypeNone}}
{{#addonApplicationInsights}}

  azure_application_insights_instrumentation_key = module.application-insights.azure_application_insights_instrumentation_key
{{/addonApplicationInsights}}
{{#addonRedis}}

  azure_redis_host       = module.redis.azure_redis_host
  azure_redis_password   = module.redis.azure_redis_password
{{/addonRedis}}
{{#addonStorageBlob}}

  azure_storage_account_name  = module.storage-blob.azurerm_storage_account_name
  azure_storage_account_key   = module.storage-blob.azurerm_storage_account_key
  azure_storage_blob_endpoint = module.storage-blob.azurerm_storage_blob_endpoint
{{/addonStorageBlob}}
{{#addonCosmosdbMongodb}}

  azure_cosmosdb_mongodb_database = module.cosmosdb-mongodb.azure_cosmosdb_mongodb_database
  azure_cosmosdb_mongodb_uri      = module.cosmosdb-mongodb.azure_cosmosdb_mongodb_uri
{{/addonCosmosdbMongodb}}
}
{{^databaseTypeNone}}

module "database" {
  {{#databaseTypeSqlServer}}
  source           = "./modules/sql-server"
  {{/databaseTypeSqlServer}}
  {{#databaseTypeMysql}}
  source           = "./modules/mysql"
  {{/databaseTypeMysql}}
  {{#databaseTypePostgresql}}
  source           = "./modules/postgresql"
  {{/databaseTypePostgresql}}
  resource_group   = azurerm_resource_group.main.name
  application_name = local.application_name
  environment      = local.environment
  location         = var.location
}
{{/databaseTypeNone}}
{{#addonApplicationInsights}}

module "application-insights" {
  source            = "./modules/application-insights"
  resource_group    = azurerm_resource_group.main.name
  application_name  = local.application_name
  environment       = local.environment
  location          = var.location
}
{{/addonApplicationInsights}}
{{#addonRedis}}

module "redis" {
  source            = "./modules/redis"
  resource_group    = azurerm_resource_group.main.name
  application_name  = local.application_name
  environment       = local.environment
  location          = var.location
}
{{/addonRedis}}
{{#addonStorageBlob}}

module "storage-blob" {
  source           = "./modules/storage-blob"
  resource_group   = azurerm_resource_group.main.name
  application_name = local.application_name
  environment      = local.environment
  location         = var.location
}
{{/addonStorageBlob}}
{{#addonCosmosdbMongodb}}

module "cosmosdb-mongodb" {
  source           = "./modules/cosmosdb-mongodb"
  resource_group   = azurerm_resource_group.main.name
  application_name = local.application_name
  environment      = local.environment
  location         = var.location
}
{{/addonCosmosdbMongodb}}
