variable "resource_group" {
  description = "The resource group"
}

variable "application_name" {
  description = "The name of your application"
}

variable "location" {
  description = "The Azure region where all resources in this example should be created"
}

variable "sku_tier" {
  description = "The Azure App Service plan tier"
  default     = "Dynamic"
}

variable "sku_size" {
  description = "The Azure App Service plan size"
  default     = "Y1"
}
{{^databaseTypeNone}}

variable "database_url" {
  description = "The URL to the database"
}

variable "database_username" {
  description = "The database username"
}

variable "database_password" {
  description = "The database password"
}
{{/databaseTypeNone}}
{{#addonStorageBlob}}

variable "azure_storage_account_name" {
  description = "The name of the Azure Storage account"
}

variable "azure_storage_account_key" {
  description = "The access key of the Azure Storage account"
}

variable "azure_storage_blob_endpoint" {
  description = "The blob endpoint URL of the Azure Storage account"
}
{{/addonStorageBlob}}
{{#addonRedis}}

variable "azure_redis_host" {
  description = "The Azure Cache for Redis hostname"
}

variable "azure_redis_password" {
  description = "The Azure Cache for Redis password"
}
{{/addonRedis}}
