terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "3.0.2"
    }
    azurecaf = {
      source  = "aztfmod/azurecaf"
      version = "1.2.16"
    }
  }
{{#gitops}}
  backend "azurerm" {}
{{/gitops}}
}

provider "azurerm" {
  features {}
}

locals {
  // If an environment is set up (dev, test, prod...), it is used in the application name
  environment = var.environment == "" ? "dev" : var.environment
}
{{#AllowingClientIpRequired}}

data "http" "myip" {
  url = "http://whatismyip.akamai.com"
}

locals {
  myip = chomp(data.http.myip.body)
}
{{/AllowingClientIpRequired}}

resource "azurecaf_name" "resource_group" {
  name          = var.application_name
  resource_type = "azurerm_resource_group"
  suffixes      = [local.environment]
}

resource "azurerm_resource_group" "main" {
  name     = azurecaf_name.resource_group.result
  location = var.location

  tags = {
    "terraform"        = "true"
    "environment"      = local.environment
    "application-name" = var.application_name
    "nubesgen-version" = "{{nubesgenVersion}}"
{{#gitops}}

    // Name of the Azure Storage Account that stores the Terraform state
    "terraform_storage_account" = var.terraform_storage_account
{{/gitops}}
  }
}

module "application" {
{{#applicationTypeAppService}}
  source           = "./modules/app-service"
{{/applicationTypeAppService}}
{{#applicationTypeFunction}}
  source           = "./modules/function"
{{/applicationTypeFunction}}
{{#applicationTypeSpringCloud}}
  source           = "./modules/spring-cloud"
{{/applicationTypeSpringCloud}}
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
{{^databaseTypeNone}}

  {{^addonKeyVault}}
  database_url      = module.database.database_url
  database_username = module.database.database_username
  database_password = module.database.database_password
  {{/addonKeyVault}}
  {{#addonKeyVault}}
    {{#keyVaultIntegration}}
  database_url      = module.database.database_url
  database_username = "@Microsoft.KeyVault(SecretUri=${module.key-vault.vault_uri}secrets/database-username)"
  database_password = "@Microsoft.KeyVault(SecretUri=${module.key-vault.vault_uri}secrets/database-password)"
    {{/keyVaultIntegration}}
    {{^keyVaultIntegration}}
  database_url = module.database.database_url
    {{/keyVaultIntegration}}
  {{/addonKeyVault}}
{{/databaseTypeNone}}
{{#addonApplicationInsights}}

  {{^applicationTypeSpringCloud}}
  azure_application_insights_instrumentation_key = module.application-insights.azure_application_insights_instrumentation_key
  {{/applicationTypeSpringCloud}}
  {{#applicationTypeSpringCloud}}
  azure_application_insights_connection_string = module.application-insights.azure_application_insights_connection_string
  {{/applicationTypeSpringCloud}}
{{/addonApplicationInsights}}
{{#addonKeyVault}}

  {{#keyVaultIntegration}}
  vault_id = module.key-vault.vault_id
  {{/keyVaultIntegration}}
  {{^keyVaultIntegration}}
  vault_id  = module.key-vault.vault_id
  vault_uri = module.key-vault.vault_uri
  {{/keyVaultIntegration}}
{{/addonKeyVault}}
{{#addonRedis}}

  {{^addonKeyVault}}
  azure_redis_host     = module.redis.azure_redis_host
  azure_redis_password = module.redis.azure_redis_password
  {{/addonKeyVault}}
  {{#addonKeyVault}}
    {{#keyVaultIntegration}}
  azure_redis_host     = module.redis.azure_redis_host
  azure_redis_password = "@Microsoft.KeyVault(SecretUri=${module.key-vault.vault_uri}secrets/redis-password)"
    {{/keyVaultIntegration}}
    {{^keyVaultIntegration}}
  azure_redis_host = module.redis.azure_redis_host
    {{/keyVaultIntegration}}
  {{/addonKeyVault}}
{{/addonRedis}}
{{#addonStorageBlob}}

  azure_storage_account_name  = module.storage-blob.azurerm_storage_account_name
  azure_storage_blob_endpoint = module.storage-blob.azurerm_storage_blob_endpoint
  {{^addonKeyVault}}
  azure_storage_account_key   = module.storage-blob.azurerm_storage_account_key
  {{/addonKeyVault}}
  {{#addonKeyVault}}
    {{#keyVaultIntegration}}
  azure_storage_account_key   = "@Microsoft.KeyVault(SecretUri=${module.key-vault.vault_uri}secrets/storage-account-key)"
    {{/keyVaultIntegration}}
  {{/addonKeyVault}}
{{/addonStorageBlob}}
{{#addonCosmosdbMongodb}}

  azure_cosmosdb_mongodb_database = module.cosmosdb-mongodb.azure_cosmosdb_mongodb_database
  {{^addonKeyVault}}
  azure_cosmosdb_mongodb_uri      = module.cosmosdb-mongodb.azure_cosmosdb_mongodb_uri
  {{/addonKeyVault}}
  {{#addonKeyVault}}
    {{#keyVaultIntegration}}
  azure_cosmosdb_mongodb_uri      = "@Microsoft.KeyVault(SecretUri=${module.key-vault.vault_uri}secrets/cosmosdb-mongodb-uri)"
    {{/keyVaultIntegration}}
  {{/addonKeyVault}}
{{/addonCosmosdbMongodb}}
{{#NetworkVNet}}

  {{^applicationTypeSpringCloud}}
  subnet_id = module.network.app_subnet_id
  {{/applicationTypeSpringCloud}}
  {{#applicationTypeSpringCloud}}
  virtual_network_id = module.network.virtual_network_id
  app_subnet_id      = module.network.app_subnet_id
  service_subnet_id  = module.network.service_subnet_id
  cidr_ranges        = var.cidr_ranges
  {{/applicationTypeSpringCloud}}
{{/NetworkVNet}}
}
{{^databaseTypeNone}}

module "database" {
  {{#databaseTypeSqlServer}}
  source           = "./modules/sql-server"
  {{/databaseTypeSqlServer}}
  {{#databaseTypeMysql}}
  source           = "./modules/mysql"
  {{/databaseTypeMysql}}
  {{#databaseTypePostgresql}}
  source           = "./modules/postgresql"
  {{/databaseTypePostgresql}}
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
  {{#NetworkVNet}}
    {{#databaseTypeSqlServer}}

  subnet_id = module.network.app_subnet_id
    {{/databaseTypeSqlServer}}
    {{^databaseTypeSqlServer}}

  subnet_id          = module.network.database_subnet_id
  virtual_network_id = module.network.virtual_network_id
    {{/databaseTypeSqlServer}}
  {{/NetworkVNet}}
}
{{/databaseTypeNone}}
{{#addonApplicationInsights}}

module "application-insights" {
  source           = "./modules/application-insights"
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
}
{{/addonApplicationInsights}}
{{#addonKeyVault}}

module "key-vault" {
  source           = "./modules/key-vault"
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
  {{^databaseTypeNone}}

  database_username = module.database.database_username
  database_password = module.database.database_password
  {{/databaseTypeNone}}
  {{#addonRedis}}

  redis_password = module.redis.azure_redis_password
  {{/addonRedis}}
  {{#addonStorageBlob}}

  storage_account_key = module.storage-blob.azurerm_storage_account_key
  {{/addonStorageBlob}}
  {{#addonCosmosdbMongodb}}

  cosmosdb_mongodb_uri = module.cosmosdb-mongodb.azure_cosmosdb_mongodb_uri
  {{/addonCosmosdbMongodb}}
  {{#NetworkVNet}}

  subnet_id = module.network.app_subnet_id
  myip      = local.myip
  {{/NetworkVNet}}
}
{{/addonKeyVault}}
{{#addonRedis}}

module "redis" {
  source           = "./modules/redis"
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
  {{#NetworkVNet}}
  subnet_id        = module.network.redis_subnet_id
  {{/NetworkVNet}}
}
{{/addonRedis}}
{{#addonStorageBlob}}

module "storage-blob" {
  source           = "./modules/storage-blob"
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
  {{#NetworkVNet}}
  subnet_id        = module.network.app_subnet_id
  myip             = local.myip
  {{/NetworkVNet}}
}
{{/addonStorageBlob}}
{{#addonCosmosdbMongodb}}

module "cosmosdb-mongodb" {
  source           = "./modules/cosmosdb-mongodb"
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
  {{#NetworkVNet}}
  subnet_id        = module.network.app_subnet_id
  {{/NetworkVNet}}
}
{{/addonCosmosdbMongodb}}
{{#NetworkVNet}}

module "network" {
  source           = "./modules/virtual-network"
  resource_group   = azurerm_resource_group.main.name
  application_name = var.application_name
  environment      = local.environment
  location         = var.location
  {{#NetworkServiceEndpointsRequired}}

  service_endpoints = [{{{NetworkServiceEndpoints}}}]
  {{/NetworkServiceEndpointsRequired}}

  address_space     = var.address_space
  app_subnet_prefix = var.app_subnet_prefix
  {{#applicationTypeSpringCloud}}

  service_subnet_prefix = var.service_subnet_prefix
  {{/applicationTypeSpringCloud}}
  {{^databaseTypeNone}}
    {{^databaseTypeSqlServer}}

  database_subnet_prefix = var.database_subnet_prefix
    {{/databaseTypeSqlServer}}
  {{/databaseTypeNone}}
  {{#addonRedis}}

  redis_subnet_prefix = var.redis_subnet_prefix
  {{/addonRedis}}
}
{{/NetworkVNet}}
